.edu-content{
    display: flex;
    flex-direction: column;
}

.line1{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 30px
}

@media (max-width: 550px) {
    
}

@media (max-width: 870px) {
    .line1{
        display: flex;
        flex-direction: column;
        gap: 30px
    }
    .line1>.circle-area{
        padding-left: 30px;
    }
}





